@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body{
    font-family:  'Dongle', sans-serif;
    overflow: scroll;
    font-size:large;
}

nav{
  
    background:linear-gradient(to left,#78b3ff9d, #00b27db6);
    padding:1%;
    color:white;
    border-radius: 20px;
    box-shadow: 0 0 100px linear-gradient(to left,#78b3ff9d, #00b27db6);
    height:5%;
}

nav .col-6{
   width: 100%;
   
}

nav .col-6 button{
    margin-left: 100%;
    margin-top: -20%;
    width: 20%;
    color: rgb(255, 255, 255); font-size: 16px;
    text-decoration:none;

    cursor: pointer;

    border-radius: 8px;
    background: linear-gradient(
        170deg,
        rgba(255, 255, 255, 0.856) 0%,
        rgba(255, 255, 255, 0.315) 20%,
        rgba(255, 255, 255, 0.11) 50%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%
      ); 
      border-color: rgba(255, 255, 255, 0.4);
      border-image: none;
      border-style: inset;
      border-width: 1px;
 }
.container{
    padding: 2%;
    height: 100vh;
    border-radius: 20px;
   /* box-shadow: 0 0 20px  rgba(61, 78, 104, 0.705);*/
   box-shadow: 0 0 100px #78b2ff;
   border-style:2px solid black;
   background-color: rgb(236, 236, 236);
}

#content{
    margin-top:5%;
    border-radius: 15px;
    border-style:2px solid black;

    overflow: auto;

}

 button {
    background: linear-gradient(
        170deg,
        rgba(116, 255, 103, 0.788) 0%,
        rgba(140, 248, 234, 0.37) 20%,
        rgba(26, 68, 59, 0.137) 50%,
        rgba(0, 0, 0, 0.089) 50%,
        rgba(0, 0, 0, 0) 100%
      ); /* W3C */
      border-color: rgba(14, 73, 32, 0.432);
      color:rgba(0, 165, 143, 0.795);
      border-radius: 50px;
      width:3%;
      padding: 0.5em 0.2em;
    font-size: medium;
}
